/* Custom CSS for fullscreen iframes */
.iframe-container {
    position: relative;
    width: 100%;
    padding-top: 75%; /* 4:3 aspect ratio (change as needed) */
  }
  
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Custom CSS for progress indicator */
  .progress {
    height: 4px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .progress-bar {
    background-color: #ffffff;
  }
  
  /* Custom CSS for carousel control buttons */
  .carousel-control-prev,
  .carousel-control-next {
    color: blue;
    background-color: transparent;
    border-color: blue;
    font-size: 16px; /* Adjust the font size to change button size */
    width: 30px; /* Adjust the width to change button size */
    height: 30px; /* Adjust the height to change button size */
    line-height: 30px; /* Center the icon vertically */
    position: bottom;
    bottom: 20px; /* Adjust the distance from the bottom of the screen */
  }
  
  /* Custom CSS for carousel control buttons on hover */
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    color: white;
    background-color: blue;
    border-color: blue;
  }
  
  /* Custom CSS for carousel control icons */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    /* Adjust the size of the icon */
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='blue' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  
  /* Custom CSS for carousel control icons on hover */
  .carousel-control-prev:hover .carousel-control-prev-icon,
  .carousel-control-next:hover .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  